.wrap{
    width: 100%;
    .center{
        background-color: #607D8B;
        padding: .4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
       .userhead{
           width: 1.2rem;
           height: 1.2rem;
           border-radius: 50%;
       }
       .username{
           font-size: .4rem;
           margin-top: .2rem;
       }
    }
    /* 导航 */
    .navlist{
        .item{
            font-size: .4rem;
            color: #484848;
            text-align: left;
            border-bottom: .15rem solid #ebebeb;
            padding: .2rem;
        }
    }
}